@import "tailwindcss";

:root {
  --background: #f4eedd; /* Paper color */
  --foreground: #4a3c31; /* Brown text */
  --card-bg: #ebe1c9;
  --accent: #8b5e3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card-bg);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
}
